/* Start of Index CSS */

.navbar{
    background-color: white;
    overflow: hidden;
    display:flex;
    align-items: center;
    padding: 20px 30px; 
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-item:hover {
    color: blue;
}

.nav-logo {
    max-height: 50px;
    margin-right: 20px;
}

.nav-menu {
    align-items: center;
    margin-left: auto;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color: #afafaf;
    color: blue;
}

.btn-signin {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-right: 10px;
}
.btn-signin:hover {
    background-color: #f2f2f2;
}

.btn-login {
    background-color: black;
    color: white;
}
.btn-login:hover {
    background-color: #555555;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
    align-content: center;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}

h1 {
    font-size: 72px;
    margin: 0px;
}

p {
    font-size: 24px;
    color: #666;
    margin-top: 10px;
}

.form-container {
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #555555;
}

footer {
    text-align: left;
    background-color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
}

footer > div {
    padding: 20px 80px;
    flex: 1;
    flex-direction: column;
}


.footer-images {
    gap: 15px;
    margin-bottom: 10px;
    min-height: max-content;
}

.footer-logo {
    max-height: 80px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 8px;
    color: #666;
}
li:hover {
    color: black;
    cursor: pointer;
}

.social-media-icons {
    gap: 35px;
}
.social-media-icons img {
    max-height: 30px;
    cursor: pointer;
    padding: 5px;
}
.social-media-icons img:hover {
    transform: scale(1.1);
    transition: transform 0.2s; 
}

/* End of Index CSS */

/* Start of Calculator CSS */

.calculator-container {
    text-align: center;
    align-content: center;
    background-color: grey;
    padding: 20px;
    width:fit-content;
    border-radius: 20px;
    box-shadow: #000000 0px 0px 15px;
    border: 10px solid rgb(105, 105, 105);
}

.project-section{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}


.buttons{
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.btn-equals{
    grid-column: span 2;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    background-color:yellowgreen;
}

.btn-num{
    font-size: 18px;
    cursor: pointer;
    align-items: center;
}

.btn-op{
    background-color: orange;
    color: #f2f2f2;

}

.btn-clear{
    background-color: red;
    color: #f2f2f2;
}

#display{
    grid-column: span 3;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: blanchedalmond;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}