.navbar{
    background-color: white;
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    align-items: center;
    display:inline-flex;
}

.nav-buttons{
    margin-left: 10px;
}

.nav-item{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover{
    color:blue;
}


.btn-signin{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-signin:hover{
    background-color: #f2f2f2;
}

.btn-register{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-register:hover{
    background-color: #555555;
}

.nav-logo{
    max-height: 50px;
}

.content{
    align-content: center;
    text-align: center;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
}

h1{
    font-size: 72px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 24px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: grey;
}

input[type="text"] {
    width: 300px;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
}

.btn-submit{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: grey;
}

body{
    margin: 0px;
}

footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

footer > div{
    padding: 30px;
    flex: 1;
    flex-direction: column;
}

li {
    list-style-type: none;
    margin-bottom: 8px;
}

li:hover {
    color: blue;
    cursor: pointer;
}

.footer-logo{
    max-height: 50px;
    margin-bottom: 15px;
}

